configuration {
    combi-modi: "run,drun";
    font: "{{ .theme.fonts.monospace }} {{ .theme.fonts.sizes.popups }}";
    location: 0;
    modi: "combi,run,drun,window,ssh";
    show-icons: true;
    terminal: "ghostty";
    xoffset: 0;
    yoffset: 0;
}

@theme "olympus"

// vim:ft=rasi
