[
  {
    "clock": {
      "actions": {
        "on-scroll-down": "shift_down",
        "on-scroll-up": "shift_up"
      },
      "calendar": {
        "format": {
          "days": "<span color='#{{ .theme.colors.base06 }}'><b>{}</b></span>",
          "months": "<span color='#{{ .theme.colors.base0F }}'><b>{}</b></span>",
          "today": "<span color='#{{ .theme.colors.base08 }}'><b><u>{}</u></b></span>",
          "weekdays": "<span color='#{{ .theme.colors.base0A }}'><b>{}</b></span>",
          "weeks": "<span color='#{{ .theme.colors.base0C }}'><b>W{}</b></span>"
        },
        "mode": "month",
        "on-scroll": 1
      },
      "format": "󰸗 {:%d.%m  %H:%M}",
      "timezone": "Europe/Berlin",
      "tooltip": true,
      "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "cpu": {
      "format": "{usage}% 󰻠",
      "tooltip": true
    },
    "height": 32,
    "hyprland/window": {
      "max-length": 100,
      "separate-outputs": true
    },
    "hyprland/workspaces": {
      "format": "{name}"
    },
    "idle_inhibitor": {
      "format": "{icon}",
      "format-icons": {
        "activated": "",
        "deactivated": ""
      }
    },
    "layer": "top",
    "memory": {
      "format": "{}% 󰍛"
    },
    "modules-center": [
      "hyprland/workspaces"
    ],
    "modules-left": [
      "hyprland/window"
    ],
    "modules-right": [
      "wireplumber",
      "network",
      "cpu",
      "memory",
      "temperature",
      "clock",
      "tray"
    ],
    "network": {
      "format-alt": "{ifname}: {ipaddr}/{cidr}",
      "format-disconnected": "Disconnected ⚠",
      "format-ethernet": "{ipaddr} ",
      "format-linked": "{ifname} (No IP) ⚠",
      "format-wifi": "{essid} ({signalStrength}%) ",
      "tooltip-format": "{ifname} via {gwaddr} "
    },
    "position": "top",
    "spacing": 4,
    "temperature": {
      "critical-threshold": 80,
      "format": "{temperatureC}°C "
    },
    "tray": {
      "spacing": 10
    },
    "wireplumber": {
      "format": "{volume}% {icon}",
      "format-icons": [
        "",
        "",
        ""
      ],
      "format-muted": "󰖁",
      "on-click": "helvum"
    },
    "wlr/taskbar": {
      "active-first": true,
      "all-outputs": true,
      "format": "{icon}",
      "ignore-list": [
        "rofi"
      ],
      "on-click": "activate",
      "tooltip-format": "{name}"
    }
  }
]

# vim:ft=json
