[colors]
# use the opacity from the theme instead of FF
background={{ .theme.palette.base00 }}FF
border={{ .theme.palette.base0D }}ff
counter={{ .theme.palette.base06 }}ff
input={{ .theme.palette.base05 }}ff
match={{ .theme.palette.base0A }}ff
placeholder={{ .theme.palette.base03 }}ff
prompt={{ .theme.palette.base05 }}ff
selection={{ .theme.palette.base03 }}ff
selection-match={{ .theme.palette.base0A }}ff
selection-text={{ .theme.palette.base05 }}ff
text={{ .theme.palette.base05 }}ff

[main]
font={{ .theme.fonts.sansSerif }}:size={{ .theme.fonts.sizes.popups }}
icon-theme={{ .theme.iconTheme }}

# vim:ft=ini
