background-opacity = {{ .theme.opacity.terminal }}
font-family = {{ .theme.fonts.monospace }}
font-family = {{ .theme.fonts.emoji }}
font-size = {{ .theme.fonts.sizes.terminal }}
quit-after-last-window-closed = false
window-decoration = none

background = {{ .theme.palette.base00 }}
cursor-color = {{ .theme.palette.base07 }}
foreground = {{ .theme.palette.base07 }}
palette = 0=#{{ .theme.palette.base00 }}
palette = 1=#{{ .theme.palette.base08 }}
palette = 2=#{{ .theme.palette.base0B }}
palette = 3=#{{ .theme.palette.base0A }}
palette = 4=#{{ .theme.palette.base0D }}
palette = 5=#{{ .theme.palette.base0E }}
palette = 6=#{{ .theme.palette.base0C }}
palette = 7=#{{ .theme.palette.base07 }}
palette = 8=#{{ .theme.palette.base03 }}
palette = 9=#{{ .theme.palette.base08 }}
palette = 10=#{{ .theme.palette.base0B }}
palette = 11=#{{ .theme.palette.base0A }}
palette = 12=#{{ .theme.palette.base0D }}
palette = 13=#{{ .theme.palette.base0E }}
palette = 14=#{{ .theme.palette.base0C }}
palette = 15=#{{ .theme.palette.base07 }}
selection-background = {{ .theme.palette.base02 }}
selection-foreground = {{ .theme.palette.base07 }}
