[colors]
alpha=1.000000

[main]
dpi-aware=no
font={{ .theme.fonts.monospace }}:size={{ .theme.fonts.sizes.terminal }}

[colors]
foreground={{ .theme.palette.base05 }}
background={{ .theme.palette.base00 }}
regular0={{ .theme.palette.base01 }} # black
regular1={{ .theme.palette.base08 }} # red
regular2={{ .theme.palette.base0B }} # green
regular3={{ .theme.palette.base0A }} # yellow
regular4={{ .theme.palette.base0D }} # blue
regular5={{ .theme.palette.base0E }} # magenta
regular6={{ .theme.palette.base0C }} # cyan
regular7={{ .theme.palette.base06 }} # white
bright0={{ .theme.palette.base02 }} # bright black
bright1={{ .theme.palette.base12 }} # bright red
bright2={{ .theme.palette.base14 }} # bright green
bright3={{ .theme.palette.base13 }} # bright yellow
bright4={{ .theme.palette.base16 }} # bright blue
bright5={{ .theme.palette.base17 }} # bright magenta
bright6={{ .theme.palette.base15 }} # bright cyan
bright7={{ .theme.palette.base07 }} # bright white
16={{ .theme.palette.base09 }}
17={{ .theme.palette.base0F }}
18={{ .theme.palette.base01 }}
19={{ .theme.palette.base02 }}
20={{ .theme.palette.base04 }}
21={{ .theme.palette.base06 }}

# vim:ft=ini
