[colors]
alpha=1.000000

[main]
dpi-aware=no
font={{ .theme.fonts.monospace }}:size={{ .theme.fonts.sizes.terminal }}

[colors]
foreground={{ .theme.colors.base05 }}
background={{ .theme.colors.base00 }}
regular0={{ .theme.colors.base00 }} # black
regular1={{ .theme.colors.base08 }} # red
regular2={{ .theme.colors.base0B }} # green
regular3={{ .theme.colors.base0A }} # yellow
regular4={{ .theme.colors.base0D }} # blue
regular5={{ .theme.colors.base0E }} # magenta
regular6={{ .theme.colors.base0C }} # cyan
regular7={{ .theme.colors.base05 }} # white
bright0={{ .theme.colors.base03 }} # bright black
bright1={{ .theme.colors.base08 }} # bright red
bright2={{ .theme.colors.base0B }} # bright green
bright3={{ .theme.colors.base0A }} # bright yellow
bright4={{ .theme.colors.base0D }} # bright blue
bright5={{ .theme.colors.base0E }} # bright magenta
bright6={{ .theme.colors.base0C }} # bright cyan
bright7={{ .theme.colors.base07 }} # bright white
16={{ .theme.colors.base09 }}
17={{ .theme.colors.base0F }}
18={{ .theme.colors.base01 }}
19={{ .theme.colors.base02 }}
20={{ .theme.colors.base04 }}
21={{ .theme.colors.base06 }}

# vim:ft=ini
