themes {
	default {
		exit_code_error {
			background "#{{ .theme.palette.base00 }}"
			base "#{{ .theme.palette.base08 }}"
			emphasis_0 "#{{ .theme.palette.base0A }}"
			emphasis_1 "#{{ .theme.palette.base00 }}"
			emphasis_2 "#{{ .theme.palette.base00 }}"
			emphasis_3 "#{{ .theme.palette.base00 }}"
		}
		exit_code_success {
			background "#{{ .theme.palette.base00 }}"
			base "#{{ .theme.palette.base0B }}"
			emphasis_0 "#{{ .theme.palette.base0C }}"
			emphasis_1 "#{{ .theme.palette.base01 }}"
			emphasis_2 "#{{ .theme.palette.base0F }}"
			emphasis_3 "#{{ .theme.palette.base0D }}"
		}
		frame_highlight {
			background "#{{ .theme.palette.base00 }}"
			base "#{{ .theme.palette.base08 }}"
			emphasis_0 "#{{ .theme.palette.base0F }}"
			emphasis_1 "#{{ .theme.palette.base09 }}"
			emphasis_2 "#{{ .theme.palette.base09 }}"
			emphasis_3 "#{{ .theme.palette.base09 }}"
		}
		frame_selected {
			background "#{{ .theme.palette.base00 }}"
			base "#{{ .theme.palette.base0E }}"
			emphasis_0 "#{{ .theme.palette.base09 }}"
			emphasis_1 "#{{ .theme.palette.base0C }}"
			emphasis_2 "#{{ .theme.palette.base0F }}"
			emphasis_3 "#{{ .theme.palette.base00 }}"
		}
		list_selected {
			background "#{{ .theme.palette.base04 }}"
			base "#{{ .theme.palette.base05 }}"
			emphasis_0 "#{{ .theme.palette.base09 }}"
			emphasis_1 "#{{ .theme.palette.base0C }}"
			emphasis_2 "#{{ .theme.palette.base0B }}"
			emphasis_3 "#{{ .theme.palette.base0F }}"
		}
		list_unselected {
			background "#{{ .theme.palette.base01 }}"
			base "#{{ .theme.palette.base05 }}"
			emphasis_0 "#{{ .theme.palette.base09 }}"
			emphasis_1 "#{{ .theme.palette.base0C }}"
			emphasis_2 "#{{ .theme.palette.base0B }}"
			emphasis_3 "#{{ .theme.palette.base0F }}"
		}
		multiplayer_user_colors {
			player_1 "#{{ .theme.palette.base0F }}"
			player_10 "#{{ .theme.palette.base00 }}"
			player_2 "#{{ .theme.palette.base0D }}"
			player_3 "#{{ .theme.palette.base00 }}"
			player_4 "#{{ .theme.palette.base0A }}"
			player_5 "#{{ .theme.palette.base0C }}"
			player_6 "#{{ .theme.palette.base00 }}"
			player_7 "#{{ .theme.palette.base08 }}"
			player_8 "#{{ .theme.palette.base00 }}"
			player_9 "#{{ .theme.palette.base00 }}"
		}
		ribbon_selected {
			background "#{{ .theme.palette.base0E }}"
			base "#{{ .theme.palette.base01 }}"
			emphasis_0 "#{{ .theme.palette.base08 }}"
			emphasis_1 "#{{ .theme.palette.base09 }}"
			emphasis_2 "#{{ .theme.palette.base0F }}"
			emphasis_3 "#{{ .theme.palette.base0D }}"
		}
		ribbon_unselected {
			background "#{{ .theme.palette.base05 }}"
			base "#{{ .theme.palette.base01 }}"
			emphasis_0 "#{{ .theme.palette.base08 }}"
			emphasis_1 "#{{ .theme.palette.base05 }}"
			emphasis_2 "#{{ .theme.palette.base0D }}"
			emphasis_3 "#{{ .theme.palette.base0F }}"
		}
		table_cell_selected {
			background "#{{ .theme.palette.base04 }}"
			base "#{{ .theme.palette.base05 }}"
			emphasis_0 "#{{ .theme.palette.base09 }}"
			emphasis_1 "#{{ .theme.palette.base0C }}"
			emphasis_2 "#{{ .theme.palette.base0B }}"
			emphasis_3 "#{{ .theme.palette.base0F }}"
		}
		table_cell_unselected {
			background "#{{ .theme.palette.base01 }}"
			base "#{{ .theme.palette.base05 }}"
			emphasis_0 "#{{ .theme.palette.base09 }}"
			emphasis_1 "#{{ .theme.palette.base0C }}"
			emphasis_2 "#{{ .theme.palette.base0B }}"
			emphasis_3 "#{{ .theme.palette.base0F }}"
		}
		table_title {
			background "#{{ .theme.palette.base00 }}"
			base "#{{ .theme.palette.base0E }}"
			emphasis_0 "#{{ .theme.palette.base09 }}"
			emphasis_1 "#{{ .theme.palette.base0C }}"
			emphasis_2 "#{{ .theme.palette.base0B }}"
			emphasis_3 "#{{ .theme.palette.base0F }}"
		}
		text_selected {
			background "#{{ .theme.palette.base04 }}"
			base "#{{ .theme.palette.base05 }}"
			emphasis_0 "#{{ .theme.palette.base09 }}"
			emphasis_1 "#{{ .theme.palette.base0C }}"
			emphasis_2 "#{{ .theme.palette.base0B }}"
			emphasis_3 "#{{ .theme.palette.base0F }}"
		}
		text_unselected {
			background "#{{ .theme.palette.base01 }}"
			base "#{{ .theme.palette.base05 }}"
			emphasis_0 "#{{ .theme.palette.base09 }}"
			emphasis_1 "#{{ .theme.palette.base0C }}"
			emphasis_2 "#{{ .theme.palette.base0B }}"
			emphasis_3 "#{{ .theme.palette.base0F }}"
		}
	}
}
