local wezterm = require("wezterm")
wezterm.add_to_config_reload_watch_list(wezterm.config_dir)
-- Allow working with both the current release and the nightly
local config = {}

if wezterm.config_builder then
	config = wezterm.config_builder()
end

config.color_scheme = "olympus"

config.font = wezterm.font_with_fallback({
		"{{ .theme.fonts.monospace }}",
		"{{ .theme.fonts.emoji }}",
	})
config.font_size = {{ .theme.fonts.sizes.terminal }}
config.command_palette_font_size = {{ .theme.fonts.sizes.terminal }}
config.window_background_opacity = {{ .theme.opacity.terminal }}

config.enable_tab_bar = false

return config

-- vim:ft=lua
